/* App.css */
:root {
    --primary-color: #6292ac;
    --secondary-color: #FFFFFF;
    --dark-color: #1a1a1a;
    --light-color: #f9f9f9;
    --dark-bg: #333;
    --dark-text: #f9f9f9;
    --light-bg: #ffffff;
    --light-text: #1a1a1a;
    --font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--light-bg);
    color: var(--light-text);
    transition: background-color 0.3s, color 0.3s;
}

.header, .footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--dark-color);
}

.content {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    background-color: var(--light-bg);
    color: var(--light-text);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.content:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
    transform: scale(1.05);
}

.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.dark-mode .content {
    background-color: var(--dark-color);
    color: var(--dark-text);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .header, .dark-mode .footer {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.dark-mode .nav-link {
    color: var(--dark-text);
}

.dark-mode .nav-link:hover {
    color: var(--secondary-color);
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    /* background-color: #000; */
    color: white;
    font-family: 'Press Start 2P', cursive;
  }
  
  .landing-page {
    background-color: #000; /* Black background for landing page */
    color: var(--dark-text); /* White text color */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container {
    text-align: center;
}

.landing-page h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.welcome-page {
    background-color: #000; /* Black background for welcome page */
    color: var(--dark-text); /* White text color */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page h1 {
    font-size: 2rem;
}

  
  .game-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #0f0;
    background-color: #000;
    border: 2px solid #0f0;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 0 10px #0f0;
    transition: transform 0.3s;
  }
  
  .game-button:hover {
    transform: scale(1.1);
  }
  
  .flashing-symbol {
    animation: flash 1s infinite;
    margin-right: 10px;
  }
  
  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  
  .main-app h1 {
    font-size: 2.5rem;
  }