/* Root Variables */
:root {
    --dark-color: #1a1a1a;
    --font-family: 'Roboto', sans-serif;
}

/* Body Styles */
body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--light-bg);
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Styles */
.dark-mode body {
    background-color: var(--dark-bg);
}

/* Main App Container */
.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

/* Main Content Styles */
.main-content {
    flex: 1; /* Allow the main content to grow */
    overflow-y: auto; /* Enable scrolling for the main content */
    padding: 20px;
    background-color: var(--light-bg); /* Default background color */
    z-index: 1; /* Ensure content stays below the header */
}

/* Dark Mode Main Content */
.dark-mode .main-content {
    background-color: var(--dark-bg);
}

/* Header and Footer */
.header, .footer {
    background-color: var(--light-bg);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .header, .dark-mode .footer {
    background-color: var(--dark-bg);
}

/* Navigation Links */
.nav-link {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--dark-color);
}

/* Button Styling */
button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #507990; /* Slightly darker shade */
    transform: scale(1.05);
}