.conclusion-container {
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 900px;
}

.conclusion-card {
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conclusion-text {
  margin-top: 20px;
  line-height: 1.6;
}