/* Header.css */
.header {
  padding: 20px; /* Add padding for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a lifted effect */
  position: relative; /* Ensure it is positioned relative to its container */
  text-align: center; /* Center text horizontally */
}

.header.dark-mode {
  background-color: #1e1e1e; /* Dark mode background */
  color: #e0e0e0; /* Dark mode text color */
}

.header-content {
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
  display: flex;
  flex-direction: column; /* Stack title and nav vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within header-content */
}

.header-title-container {
  display: flex;
  flex-direction: column; /* Stack title and toggle vertically */
  align-items: center; /* Center title and toggle horizontally */
  width: 100%;
  margin-bottom: 30px; /* Increased space between title and navigation */
  position: relative;
}

.header-title {
  font-family: 'Arial', sans-serif;
  font-size: 2rem; /* Slightly larger font size for better emphasis */
  margin: 0;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px; 
}

.nav {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.nav-link {
  text-decoration: none;
  font-family: 'Arial', sans-serif; /* Use a professional font */
  font-size: 1.1rem; /* Slightly larger font size for better readability */
  margin: 0 15px; /* Space between navigation links */
  color: #6b91bd; /* Primary color */
  transition: color 0.3s, transform 0.3s; /* Smooth color and transform transitions */
}

.nav-link:hover {
  text-decoration: none; /* No underline on hover for cleaner look */
  transform: scale(1.05); /* Slightly enlarge the link on hover */
}

/* Dark Mode Styles */
.header.dark-mode .nav-link {
  color: #e0e0e0; /* Light text for dark mode */
}

.header.dark-mode .nav-link:hover {
  color: rgb(240, 101, 149); /* Hover color in dark mode */
}
