/* LandingPage.css */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #000000; /* Background color for landing page */
    color: #333; /* Default text color */
  }
  
  .landing-container {
    text-align: center;
  }
  
  .landing-page h1 {
    font-size: 2.5rem;
    color: #ffffff;
  }

  .landing-page span {
    color: #0f0;
  }
  
  .game-button {
    padding: 15px 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border: 2px solid #0f0;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #0f0;
    transition: transform 0.3s;
  }
  
  .landing-page h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.game-button:hover {
    transform: scale(1.1);
    background-color: #000;
}

.flashing-symbol {
    animation: flash 1s infinite;
    margin-right: 10px;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
