
.project-overview {
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 900px;
}

.overview-title {
  text-align: center;
  margin: 0 auto 20px;
  display: block;
  height: 100px; 
  line-height: 100px;
}

@media (max-width: 768px) {
  .project-overview {
    padding: 30px 15px;
  }
}