.results-page {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 900px;
}

.results-page .collapsible-card {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.results-page .collapsible-card-header {
  padding: 15px;
  border-radius: 8px 8px 0 0;
  cursor: pointer; /* Indicate that the header is clickable */
  transition: background-color 0.3s ease; /* Smooth background transition */
  font-family: 'Arial', sans-serif; /* Consistent font family */
}

.results-page .collapsible-card-content {
  padding: 15px;
  border-radius: 0 0 8px 8px;
}

.results-page .collapsible-card-content p {
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
}

.results-page .toggle-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.results-page .toggle-icon.open {
  transform: rotate(45deg); /* Rotate icon when open */
}

.card-contents {
  padding: "$6";
  max-width: "900px";
  margin: "0 auto";
}
